/* CSS
 *
 * 
 *
 */

/* Main Blocks
-----------------------------------------------*/

div#page-body div#content {
    margin-right: 180px;
    border-right: 3px #EEE solid;
    }

div#page-body div#content-links {
    float:right;
    width: 180px;
    font-size: small;
    border-left: 3px #EEE solid;
    }

