/* CSS
 *
 * app.css -- This file provides common visual style to CentOS Web
 * application.
 *
 */

/* Main Blocks
-----------------------------------------------*/

div#page-header {
	background: #204C8D
    url("/home/centos/artwork/trunk/Identity/Patterns/centos-background-2.png") 0 0 repeat;
	min-height: 46px;
	}

div#page-footer {
	background: #204C8D
    url("/home/centos/artwork/trunk/Identity/Patterns/centos-background-2.png") 0 0 repeat;
    padding: 10px;
	}

div#page-footer div.top img {
    border:none;
    float:right;
    }

div#page-header div.links div.user,
div#page-header div.links div.trail,
div#page-footer div.credits {
    font-size: small;
    color: #FFF;
    }

div#page-footer div.credits a {
    color: #FFF;
    font-style: italic;
    }

div#wrap {
	padding: 0 10px 0 10px;
    background-color: #FFF;
	}

div#page-header,
div#wrap,
div#page-body,
div#page-footer {
    min-width: 730px;
    }

div#page-body {
	clear: both;
    background-color: #F8F8F8;
	}

div#page-body div#content {
    padding: 20px;
    background-color: #FFF;
    }

/* Logo
-----------------------------------------------*/

div#page-header div#logo img {
	border: none;
	float: left;
    margin: 5px;
	}

/* Headings
-----------------------------------------------*/

div#page-body h1 {
        font-size: 1.7em;
        font-weight: bold;
        line-height: 1.9em;
        margin-top: 0.9em;
        margin-bottom: 0.9em;
        padding-left: 0.7em;
        color: #FFF;
        border: none;
        background: #204C8D url("/home/centos/artwork/trunk/Identity/Patterns/centos-header-1.png");
        }

div#page-body h2 {
        font-size: 1.4em;
        line-height: 1.8em;
        margin-top: 1.6em;
        margin-bottom: 0.8em;
        padding-left: 0.7em;
        background: #FFF url("/home/centos/artwork/trunk/Identity/Patterns/centos-header-2.png");
        border: none;
        color: #072B61;
        }

div#page-body h3 {
        font-size: 1.25em;
        line-height: 1.6em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.7em;
        color: #072B61;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #DADADA;
        }

div#page-body h4 {
        font-size: 1.2em;
        line-height: 1.4em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.7em;
        color: #072B61;
        border-bottom: none;
        }

div#page-body h5 {
        font-size: 1.1em;
        line-height: 1.1em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.7em;
        color: #072B61;
        font-weight: bold;
        border-bottom: none;
        }

div#page-body h6 {
        font-size: 1em;
        line-height: 1.1em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.7em;
        color: #072B61;
        font-weight: bold;
        border-bottom: none;
        }

div#page-body h1 a:link  { text-decoration: none; color: #FFF }
div#page-body h1 a:hover { text-decoration: none; color: #FFF; }
div#page-body h1 a:active { text-decoration: underline; color: #FFF; }
div#page-body h1 a:visited { text-decoration: none; color: #FFF; }
div#page-body h1 a:visited:hover { text-decoration: none; color: #FFF; }

div#page-body h2 a:link, div#page-body h2 a:visited, div#page-body h2 a:hover, 
div#page-body h2 a:active, div#page-body h2 a:visited:hover, 
div#page-body h3 a:link, div#page-body h3 a:visited, div#page-body h3 a:hover,
div#page-body h3 a:active, div#page-body h3 a:visited:hover, 
div#page-body h4 a:link, div#page-body h4 a:visited, div#page-body h4 a:hover,
div#page-body h4 a:active, div#page-body h4 a:visited:hover, 
div#page-body h5 a:link, div#page-body h5 a:visited, div#page-body h5 a:hover,
div#page-body h5 a:active, div#page-body h5 a:visited:hover, 
div#page-body h6 a:link, div#page-body h6 a:visited, div#page-body h6 a:hover,
div#page-body h6 a:active, div#page-body h6 a:visited:hover {
	color: #072B61; 
	text-decoration: none;
}

/* Paragraphs
-----------------------------------------------*/

p {
    margin-left: 1.5em;
    }

/* Links 
-----------------------------------------------*/

/* Broken or nonexistent links */

div#page-body a.nonexistent, 
div#page-body a.nonexistent:hover { color: gray; }

/* Special decoration for some links' classes */

div#page-body a.www:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Images/Webenv/a-www.png); 
    margin: 0 0.2em; 
    }

div#page-body a.http:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Images/Webenv/a-www.png); 
    margin: 0 0.2em; 
    }

div#page-body a.https:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Images/Webenv/a-www.png); 
    margin: 0 0.2em; 
    }

div#page-body a.mailto:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Images/Webenv/a-mail.png); 
    margin: 0 0.2em; 
    }

div#page-body a.attachment:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Images/Webenv/a-attach.png); 
    margin: 0 0.2em; 
    }

/* */

div#page-header div.links {
    margin-right: 10px;
    margin-top: 10px;
    }

div#page-header div.links div.user,
div#page-header div.links div.trail {
	display: block;
	margin: 5px;
	text-align: right;
	color: #fff;
	}

div#page-body div#content div.trail a {
    font-size: small;
    margin-right: 5px;
    }

div#page-header div.links div.user a,
div#page-header div.links div.trail a {
	color: #FFF;
    margin-right: 5px;
	}

div#page-header div.links div.user span {
	border-right: 1px dotted #FFF;
    padding-right: 3px;
	}

div#page-header div.links div.user span,
div#page-header div.links div.trail span {
	display: inline;
    margin-left: 3px;
	}

div#page-header div.links div.user span.last,
div#page-header div.links div.trail span.last {
	border-right: none;
	padding-right: 0;
	}

div#page-header div.links div.user span.last a,
div#page-header div.links div.trail span.last a {
	margin-right: 0;
	}

div#page-header div.links div.trail span:after,
div#page-body div#content div.trail span:after {
	content: "»";
	}

div#page-header div.links div.trail span.last:after,
div#page-body div#content div.trail span.last:after {
	content: none;
	}

/* Page Lines
-----------------------------------------------*/

div.page-line {
	clear: both;
	margin: 0;
	padding: 0;
	background-color: transparent;
	}

div.page-line.white {
	height: 3px;
	background-color: #FFF;
	}

/* Lists
-----------------------------------------------*/

div#page-body ul { 
    list-style: url("/home/centos/artwork/trunk/Identity/Images/Webenv/ul.png") circle; 
    } 

div#page-body div#content-links ul {
    padding: 1em;
    margin: 0;
    list-style: none;
    border-top: 1px #EEE solid;
}

div#page-body div#content-links ul.first {
    border-top: none;
    }

div#page-body div#content-links ul li {
    padding: 2px;
    }

div#page-body div#content-links ul li.current {
    font-weight: bold;
    }

/* Table of content (toc) */

div#page-body div.toc {
	border: 1px solid #CCCCCC;
	background: #FFF url("/home/centos/artwork/trunk/Identity/Images/Webenv/toc-bg.png") right repeat-y; 
	font-size: small;
	text-align:left;
	margin-left: 1.5em;
    width:70%;
	}

div#page-body div.toc h3 {
    margin-top: 0;
    background: #FFF url("/home/centos/artwork/trunk/Identity/Patterns/centos-header-2.png");
    }

div#page-body div.toc ul {
    margin-left: 1.5em;
    }

div#page-body div.toc ul ul {
    margin-left: 0;
}

/* Quotations
-----------------------------------------------*/

div#page-body blockquote {
    background-image: url("/home/centos/artwork/trunk/Identity/Images/Webenv/msg-bg-gray.png");
	}

div#page-body blockquote h3 {
    line-height: 0;
    border: none;
    color: #000000;
    margin-left: 1.2em;
    padding: 0;
    }

div#page-body blockquote.icon h3 {
    margin-left: 3.2em;
    }

div#page-body blockquote.icon hr, 
div#page-body blockquote.icon pre, 
div#page-body blockquote.icon table, 
div#page-body blockquote.icon p {
	margin-left: 4em;
    }

div#page-body blockquote.message {
	border: none;
	border-top: 4px solid;
	border-bottom: 4px solid;
    border-color: #CFCFCF;
	}

div#page-body blockquote.blue {
    background-image: url("/home/centos/artwork/trunk/Identity/Images/Webenv/msg-bg-blue.png");
	border-color: #D2E0F6; 
	background-color: #ECF4FF;
	}

div#page-body blockquote.orange {
    border-color: #F6E7D2; 
    background-color: #FFF8EC;
    background-image: url("/home/centos/artwork/trunk/Identity/Images/Webenv/msg-bg-orange.png");
	}

div#page-body blockquote.violet {
    border-color: #F6D2F6; 
    background-color: #FFECFF;
    background-image: url("/home/centos/artwork/trunk/Identity/Images/Webenv/msg-bg-violet.png");
	}	

div#page-body blockquote.red {
    border-color: #E0B7B7;
    background-color: #FFECEC;
    background-image: url("/home/centos/artwork/trunk/Identity/Images/Webenv/msg-bg-red.png");
	}

div#page-body blockquote.green {
    border-color: #D6F6D2;
    background-color: #EEFFEC;
    background-image: url("/home/centos/artwork/trunk/Identity/Images/Webenv/msg-bg-green.png");
	}

/* Forms
-----------------------------------------------*/

div#page-body div.row1 {
	clear: both;
	background: #F8F8F8;
	padding: 10px;
	}

div#page-body div.row2 {
	clear: both;
	background: #FFFFFF;
	padding: 10px;
	}

div#page-body div.row3 {
	clear: both;
	border-top: 1px solid #CCC;
	padding: 10px;
	margin-top: 10px;
	}

div#page-body fieldset div.row1 span.descrip,
div#page-body fieldset div.row2 span.descrip {
	float: left;
	}

div#page-body fieldset div.field {
	display: block;
	margin-left: 30%;
	}

div#page-body fieldset div.field div.column {
	float: left;
	margin-right: 1em;
	padding-right: 1em;
	border-right: 1px dotted #AAA;
	}

div#page-body fieldset div.row3 div.descrip {
	display: block;
	font-size: small;
	color: #AAA;
	font-style: italic;
	width: 70%
	}

div#page-body fieldset span.submit {
	float: right;
	}

/* */

div#page-body div.actions {
    margin-top: 10px;
	border-bottom: 1px solid #AAA;
    padding-bottom: 10px;

    }

div#page-body div.actions span {
	display: inline;
	margin: 0;
	padding-right: 10px;
	border-right: 1px dotted #AAA;
	color: #AAA;
	}

div#page-body div.actions span.last {
	border-right: none;
	padding-left: 10px;
	}

/* */

div#page-body div.pagination {
    font-size: small;
    padding: 10px;
    border-top: 1px #AAA solid;
    margin-left: 1.5em;
    }

div#page-body div.pagination span.left {
    float: left;
    }

div#page-body div.pagination span.left a:before {
    content: "«";
    padding-right: 3px;
    }

div#page-body div.pagination span.right a:after {
    content: "»";
    padding-left: 3px;
    }

div#page-body div.pagination span.right {
    float: right;
    }

/* */

div#page-body div.records-list {
    margin-bottom: 5px;
    margin-left: 1.5em;
    display: block;
    }

div#page-body div.records-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }

div#page-body div.records-list ul li {
    padding: 0.5em;
    }

div#page-body div.records-list ul li.row1 {
    background: #F8F8F8;
    }

div#page-body div.records-list ul li span.col0 {
    display: block;
    float:left;
    text-align: center;
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-right: 1px solid #FFF;
    }

div#page-body div.records-list ul li span.col1 {
    width: 250px;
    display: block;
    float:left;
    }

div#page-body div.records-list ul li span.col2 {
    border-left: 1px solid #FFF;
    padding-left: 0.5em;
    }

div#page-body div.records-list ul li.title {
    font-weight: bold;
    background: #eee;
    border-bottom: 1px #AAA solid;
    }

