# Mettle

[KSplash Theme: Mettle]
Name = Mettle KDE Splash Screen
Description = Mettle KDE Splash Screen
Version = 1.0
Author = Alain Reguera Delgado

# Theme behaviour settings.
Engine = Default

# Should icons blink ala KDE, or not?
Icons Flashing = true

# Show progress bar?
Always Show Progress = false

# Status text colour
Label Foreground = #FFFFFF
