
/* Titres
----------------------------------------------------------*/
#puntal_content #blogTitle span {
	font-weight: bold;
}
.cal {
	font-size : 75%;
	font-variant: small-caps;
	font-weight: bold;
}	
.cal table {
	border-spacing: 0;
	border-collapse: separate;
	caption-side: top;
}
.day-date {
	text-align: right;
	font-style: italic;    
	font-weight: bold;
}
.post-title {
	margin-bottom: 0;
}
.post-info {
	margin-top: 0;
	font-size: 0.9em;
}