/* 
 * Convert Xoops + CBB (newbb) to phpBB 
 * Style Sheet.
 *
 */

html {
        background-image:url(img/html-bg.png);
        background-color: #FFF;
        font-family: "DejaVu Sans", "Liberation Sans", sans-serif;
        font-size: 0.85em;
        line-height: 1.25em;
        /* margin: 0;           /* <- full screen                       */
        /* margin: 0 1% 0 1%;   /* <- with 1% of left and right margin  */
        /* margin: 0 2% 0 2%;   /* <- with 2% of left and right margin  */
        margin: 0 4% 0 4%;      /* <- with 4% of left and right margin  */
        /* margin: 0 10% 0 10%; /* <- with 10% of left and right margin */
        }

body {
        background: #FFF;
        border-width: 10px;
        border-style: solid;
        border-color: #FFF;     
        padding:0;
        margin:0;
        }

/* Links */

a:link  { text-decoration: none; color: #204C8D; }
a:hover { text-decoration: underline; color: green; } 
a:active { text-decoration: underline; color: green; } 
a:visited { text-decoration: none; color: #204C8D; }
a:visited:hover { text-decoration: underline; color: green; }
a.nonexistent, a.badinterwiki { color: gray; }

/* Header */

#header {
        margin:0;
        padding-top: 1em;
        background-color: #204C8D;
        background-image: url("img/header-bg.png");
        line-height: 1.0em;
        border:none;
        }

#header h1 {
    color: #fff;
    margin: 0;
    line-height: 1.7em;
    text-align: center;
    margin-bottom: 0;
}

#header p.description {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 0.9em;

}

/* Sublinks */

.sublinks {
        clear: both;
        display: block;
        margin: 0;
        white-space: nowrap;
        background: #EDF4FF; 
        font-size: 0.9em;
        padding: 0.5em;
        padding-left: 20px;
        border-top: 1px solid #ddd;
        border-bottom: 2px dotted #628ECA;
        }

.sublinks li {
        display: inline;
        padding: 0;
        margin-right: 5px;
        }

.sublinks li.current {
    font-weight: bold;
}

.sublinks li:after {
        margin-left: 5px;
        content: " » ";
        }

.sublinks li:last-child:after {
        content: "";
        }


/* Page */

#page {
        padding-top: 1em;
        padding-right: 20px;
        padding-bottom: 0;
        padding-left: 20px;
        background: #FFF;
}

dd span.description {
    margin-left: 0.5em;
}

.navibar {
        /* Problem: clear: right; aligns nicely right of
         * logo, but lets it float high in the header,
         * disconnected from ground */  
        clear: both;
        display: block;
        height: 20px;
        padding: 0;
        padding-left: 20px;
        margin: 0;
        font-size: 0.9em;

        /* For avoiding a gap between navibar and pageline
         * on IE */
        zoom: 1;
        }

.navibar li {
        display: inline;
        white-space: nowrap;
        padding-top: 5px;
        padding-bottom: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #628ECA;
        background-color: #FFF;
        background-image: url("img/navibartop-bg.png");
        background-position: left top;
        background-repeat: repeat-x;
        }

.navibar li a { 
        /* To cover the box area as linkable */
        padding: 8px;
        padding-top: 4px;
        padding-bottom: 5px;
        }

.navibar a, .navibar a:visited {
        color: #204C8D;
        text-decoration: none;
        }

.navibar li.current a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
        }

.navibar li:hover {
        background-color: #628ECA;
        background-image: url("img/navibartop-hover-bg.png");
        background-position: left top;
        background-repeat: repeat-x;
        }

.navibar li:hover a {
        color: #FFFFFF;
        text-decoration: none;
        }

.navibar li.current, 
.navibar li.current:hover, 
.navibar li.current:hover a, 
.navibar li.current:active a {
        color: #FFFFFF;
        background-color: #628ECA;
        background-image: url("img/navibartop-hover-bg.png"); 
        background-position: left top;
        background-repeat: repeat-x;
        }

/* Alignment */

.right  { text-align: right; }
.left   { text-align: left; }
.center { text-align: center; }

.floatr { float:right; }
.floatl { float:left; }

/* Lists */

dl {
    clear: both;
    }

dt {
    float: left;;
    width: 200px;
    padding-top: 3px;
    padding-right: 1em;
    text-align: right;
    }

/* Form  */

textarea {
    padding: 3px;
    padding-left: 0.5em;
}

/* Tables */

td {
    font-size: 0.85em;
    padding: 0.5em;
    font-family: monospace;
}

th {
    padding: 0.5em;
    font-size: 0.85em;
    font-family: monospace;
    background: #f8f8f8;
}

#footer{
    background: #fafafa;
    padding: 3px;
    margin-top: 1em;
}

/* Messages */

.lm {
        background-color: #ECECEC;
        background-image: url("img/moin-msg-bg-gray.png");
        width: -10px;
        border-width: 1px;
        border-style: solid;
        border-color: #CFCFCF;
        border-left-width: 4px;
        padding: 1em !important;
        }

.lm.red { 
        border-color: #E0B7B7;
        background-color: #FFECEC;
        background-image: url("img/moin-msg-bg-red.png");
        }
.lm.green { 
        border-color: #D6F6D2;
        background-color: #EEFFEC;
        background-image: url("img/moin-msg-bg-green.png");
        }

.lm.violet { 
        border-color: #F6D2F6; 
        background-color: #FFECFF;
        background-image: url("img/moin-msg-bg-violet.png");
        }

.lm.blue { 
        border-color: #D2E0F6; 
        background-color: #ECF4FF;
        background-image: url("img/moin-msg-bg-blue.png");
        }

.lm.orange { 
        border-color: #F6E7D2; 
        background-color: #FFF8EC;
        background-image: url("img/moin-msg-bg-orange.png");
        }

.message {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 0.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1.5em;
        border-width: 0;
        border-top-width: 4px;
        border-top-style: solid;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        text-align: center;
        font-weight: bold;
        }

/* Misc */

.pageline {
        clear: both;
        margin: 0;
        padding: 0;
        width: 100%;
        /* sync these values, line-height is needed for IE */
        height: 5px;
        line-height: 5px;
        background: #628ECA;
        }

.action {
    background: #f8f8f8;
    padding: 1em;
    margin-bottom: 0;

}

.action span {
    margin-top: 5px;
}

.action img {
    vertical-align: top;
    margin-right: 0.5em;
    border: none;
}
