# This is not really a .desktop file like the rest, but it's useful to
# treat it as such.

[GdmGreeterTheme]
Name=TreeFlower
Greeter=TreeFlower.xml
Author=Alain Reguera Delgado
Copyright=2009-2010, The CentOS Project
Screenshot=screenshot.png
Description=CentOS TreeFlower Theme
Description[ar]=أسلوب (تيمة) ريدهات لينكس الإفتراضي
Description[be]=Дапонмая тэма CentOS
Description[bg]=CentOS основна тема
Description[bn]=CentOS -এর ডিফল্ট থীম
Description[ca]=Tema predeterminat de CentOS
Description[cs]=Implicitní téma pro CentOS
Description[cy]=Thema ragosodedig CentOS
Description[da]=CentOS standardtema
Description[de]=CentOS Standard
Description[el]=Προκαθορισμένο θέμα του CentOS
Description[es]=Tema predeterminado de CentOS
Description[et]=CentOS vaike teema
Description[fa]=تم پیش‌فرض لینوکس ردهت
Description[fi]=CentOS -oletusteema
Description[fr]=Thème par défaut de CentOS
Description[gu]=CentOS લિનક્સ મૂળભુત થીમ
Description[hi]=रेड हेट लिनक्स मूल प्रकरण
Description[hr]=Uobičajena tema CentOS-a
Description[hu]=CentOS alapértelmezett téma
Description[id]=Theme default CentOS
Description[is]=Sjálfgefna CentOS þeman
Description[it]=Tema CentOS predefinito
Description[ja]=CentOS デフォルトのテーマ
Description[ko]=CentOS 기본 테마
Description[lt]=CentOS standartinė tema
Description[mk]=Основна тема на CentOS
Description[mn]=Рэд хат линуксийн стандарт хэлбэр
Description[ms]=Tema default CentOS
Description[nb]=Forvalgt tema for CentOS
Description[nl]=CentOS standaard thema
Description[no]=Forvalgt tema for CentOS
Description[pa]=CentOS ਲੀਨਕਸ ਮੂਲ ਸਰੂਪ
Description[pl]=Domyślny schemat CentOS
Description[pt]=Tema por omissão do CentOS
Description[pt_BR]=Tema default CentOS
Description[ro]=Tema implicită CentOS
Description[ru]=Основная тема CentOS
Description[sk]=Štandardná téma CentOS
Description[sl]=Privzeta tema za CentOS
Description[sv]=Standardtema för CentOS
Description[ta]=CentOS இயல்பான கருப்பொருள்
Description[th]=ชุดตกแต่งปริยายของ CentOS
Description[tr]=Öntanımlı CentOS teması
Description[uk]=Основна тема CentOS
Description[vi]=Theme CentOS mặc định
Description[zh_CN]=CentOS 的默认主题
Description[zh_TW]=CentOS 預設佈景主題
Description[zu]=Ingqikithi yendalo ye-CentOS
