/* CentOS Cascading Style Sheet
 * -----------------------------------------------
 * File		: common.css
 * Category	: root / common 
 * Theme	: Modern
 * Description	: CSS definitions used to build the CentOS common
 *  		  visual style.
 * -----------------------------------------------
 * Author	: CentOS Artwork SIG
 * License	: GPL (http://www.fsf.org/licensing/licenses/gpl.txt)
 * -----------------------------------------------
 */


/* Reset browsers default margins and paddings
-----------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	}

/* Define html
-----------------------------------------------*/

html {
        background-color: #FFF;
        background-image: url(/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/html-bg.png);
        }

/* Define body
-----------------------------------------------*/

body {
        font-family: "DejaVu Sans", "Liberation Sans", sans-serif;
        font-size: 0.85em;
        line-height: 1.25em;
        /* margin: 0;           /* <- full screen                       */
        /* margin: 0 1% 0 1%;   /* <- with 1% of left and right margin  */
        /* margin: 0 2% 0 2%;   /* <- with 2% of left and right margin  */
        margin: 0 3% 0 3%;      /* <- with 3% of left and right margin  */
        /* margin: 0 10% 0 10%; /* <- with 10% of left and right margin */
        }

/* Main Blocks
-----------------------------------------------*/

div#page-header {
	background: #204C8D url("/home/centos/artwork/trunk/Identity/Themes/Motifs/TreeFlower/Backgrounds/Img/1024x250.jpg") 0 0;
	min-height: 85px;
	}

div#page-footer {
	background: #204C8D url("/home/centos/artwork/trunk/Identity/Themes/Motifs/TreeFlower/Backgrounds/Img/1024x250.jpg") 0 0;
	min-height: 85px;
	}

div#wrap {
	padding: 0 10px 0 10px;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	background: #FFF;
	}

div#page-body {
	padding: 20px;
	padding-top: 0;
	clear: both;
	}

div#page-info {
	/* Holds information about the page. */
	text-align: right;
	font-size: x-small;
	color: #AAA;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-right: 20px;
	}

div#page-header div.links,
div#page-footer div.links {
	/* Holds web environment navigation tabs, and user
	 * related links */
	float: right;
	}

div#page-header div.links div.user,
div#page-header div.links div.trail {
	display: block;
	margin: 0px;
	font-size: x-small;
	text-align: right;
	color: #fff;
	padding-right: 10px;
	}

div#page-header div.admin,
div#page-footer div.admin {
	background-color: #EFF5FE;
	padding: 3px;
	padding-left: 20px;
	font-size: small;
	}

div#page-header div.admin {
	border-bottom: 2px dotted #628ECA;
	border-top: 1px solid #D6D6D6;
	}

div#page-footer div.admin {
	border-bottom: 1px solid #D6D6D6;
	border-top: 2px dotted #628ECA;
	}

div#page-footer div.lisence {
	color: #FFF;
	font-size: x-small;
	padding: 10px;
	padding-bottom: 0;
	padding-top: 1.5em;
	}

div#page-footer div.credits {
	/* Holds page credits */
	color: #FFF;
	font-size: x-small;
	padding: 10px;
	}

/* Logo
-----------------------------------------------*/

div#page-header div#logo img {
	border: none;
	float: left;
	margin: 10px;
	}

/* Links 
-----------------------------------------------*/

/* Base */

a:link  { text-decoration: none; color: #0044B3; }
a:hover { text-decoration: underline; color: green; }
a:active { text-decoration: underline; color: green; }
a:visited { text-decoration: none; color: #0044B3; }
a:visited:hover { text-decoration: underline; color: green; }

/* Broken or nonexistent links */

div#page-body a.nonexistent, 
div#page-body a.nonexistent:hover { color: gray; }

/* Special decoration for some links' classes */

div#page-body a.www:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/www.png); 
    margin: 0 0.2em; 
    }

div#page-body a.http:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/www.png); 
    margin: 0 0.2em; 
    }

div#page-body a.https:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/www.png); 
    margin: 0 0.2em; 
    }

div#page-body a.mailto:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/email.png); 
    margin: 0 0.2em; 
    }

div#page-body a.attachment:before { 
    white-space:nowrap; 
    content: url(/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/attach.png); 
    margin: 0 0.2em; 
    }

/* Headings */

div#page-body h1 a:link  { text-decoration: none; color: #FFF }
div#page-body h1 a:hover { text-decoration: none; color: #FFF; }
div#page-body h1 a:active { text-decoration: underline; color: #FFF; }
div#page-body h1 a:visited { text-decoration: none; color: #FFF; }
div#page-body h1 a:visited:hover { text-decoration: none; color: #FFF; }

div#page-body h2 a:link, div#page-body h2 a:visited, div#page-body h2 a:hover, 
div#page-body h2 a:active, div#page-body h2 a:visited:hover, 
div#page-body h3 a:link, div#page-body h3 a:visited, div#page-body h3 a:hover,
div#page-body h3 a:active, div#page-body h3 a:visited:hover, 
div#page-body h4 a:link, div#page-body h4 a:visited, div#page-body h4 a:hover,
div#page-body h4 a:active, div#page-body h4 a:visited:hover, 
div#page-body h5 a:link, div#page-body h5 a:visited, div#page-body h5 a:hover,
div#page-body h5 a:active, div#page-body h5 a:visited:hover, 
div#page-body h6 a:link, div#page-body h6 a:visited, div#page-body h6 a:hover,
div#page-body h6 a:active, div#page-body h6 a:visited:hover {
	color: #072B61; 
	text-decoration: none;
	}

/* */

div#page-header div.links div.user a,
div#page-header div.links div.trail a {
	color: #FFF;
	}

div#page-header div.links div.user a,
div#page-header div.admin a,
div#page-footer div.admin a {
	margin-right: 10px;
	margin-left: 6px;
	}

div#page-footer div.lisence a,
div#page-footer div.credits a {
	color: #FFF;
	font-style: italic;
	}

/* Headings
-----------------------------------------------*/

div#page-body h1 {
        font-size: 1.7em;
        font-weight: bold;
        line-height: 1.9em;
        margin-top: 0.9em;
        margin-bottom: 0.9em;
        padding-left: 0.7em;
        color: #FFF;
        border: none;
        background: #204C8D url("/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/h1-bg.png");
        }

div#page-body h2 {
        font-size: 1.4em;
        line-height: 1.8em;
        margin-top: 1.6em;
        margin-bottom: 0.8em;
        padding-left: 0.7em;
        background-image: url("/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/h2-bg.png");
        border: none;
        color: #072B61;
        }

div#page-body h3 {
        font-size: 1.25em;
        line-height: 1.6em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.7em;
        color: #072B61;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #DADADA;
        }

div#page-body h4 {
        font-size: 1.2em;
        line-height: 1.4em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.7em;
        color: #072B61;
        border-bottom: none;
        }

div#page-body h5 {
        font-size: 1.1em;
        line-height: 1.1em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.7em;
        color: #072B61;
        font-weight: bold;
        border-bottom: none;
        }

div#page-body h6 {
        font-size: 1em;
        line-height: 1.1em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-left: 0.7em;
        color: #072B61;
        font-weight: bold;
        border-bottom: none;
        }

/* Paragraphs
-----------------------------------------------*/

div#page-body p {
	margin: 1em;
	margin-left: 1.5em;
	line-height: 1.5em;
	}

/* Quotations
-----------------------------------------------*/

div#page-body blockquote {
        background-color: #ECECEC;
        background-image: url("/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/msg-bg-gray.png");
        border-width: 1px;
        border-style: solid;
        border-color: #CFCFCF;
        border-left-width: 4px;
	margin: 1em;
	}

div#page-body blockquote p {
	margin: 1em;
	}

div#page-body blockquote.message {
	border: none;
	border-top: 4px solid;
	border-bottom: 4px solid;
	margin-left: 15%;
	margin-right: 15%;
        border-color: #CFCFCF;
	padding: 0 2em;
	}

div#page-body blockquote.message p.content {
	font-weight: bold;
	margin-left: 0;
	}

div#page-body blockquote.message p.links {
	font-size: x-small;	
	margin-left: 0;
	}

div#page-body blockquote.blue {
        background-image: url("/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/msg-bg-blue.png");
	border-color: #D2E0F6; 
	background-color: #ECF4FF;
	}

div#page-body blockquote.orange {
        border-color: #F6E7D2; 
        background-color: #FFF8EC;
        background-image: url("/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/msg-bg-orange.png");
	}

div#page-body blockquote.violet {
        border-color: #F6D2F6; 
        background-color: #FFECFF;
        background-image: url("/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/msg-bg-violet.png");
	}	

div#page-body blockquote.red {
        border-color: #E0B7B7;
        background-color: #FFECEC;
        background-image: url("/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/msg-bg-red.png");
	}

div#page-body blockquote.green {
        border-color: #D6F6D2;
        background-color: #EEFFEC;
        background-image: url("/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/msg-bg-green.png");
	}

div#page-body blockquote img {
	vertical-align: middle;
	margin-right: 20px;
	}

div#page-body q:before {
	content: " “";
	}

div#page-body q:after {
	content: "” ";
	}

div#page-body q q:before {
	content: " ‘";
	}

div#page-body q q:after {
	content: "’ ";
	}

div#page-body address {
	margin-left: 1.5em;
	}

/* Preformatted Texts
-----------------------------------------------*/

div#page-body pre {
        font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
        padding: 0.5em 1em;
        margin: 0.5em 0 0.5em 1.5em;
        white-space: pre;
        border-width: 1px;
        border-style: solid;
        border-color: #E5E5E5;
        border-left-width: 4px;
        white-space: pre;
        background: #FFFAE9;
        overflow: auto;
        }

/* Phrase Elements
-----------------------------------------------*/

div#page-body tt,
div#page-body samp,
div#page-body kbd,
div#page-body code {
        font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
	}

/* Page Lines
-----------------------------------------------*/

div.page-line {
	clear: both;
	margin: 0;
	padding: 0;
	background-color: transparent;
	}

div.page-line.blue {
	height: 5px;
	background-color: #628ECA;
	}

/* Lists
-----------------------------------------------*/

div#page-body ul,
div#page-body ol {
	margin: 1em;
	padding: 1em;
        padding-left: 1.9em;
        margin-left: 3em;
        margin-bottom: 0.3em;
        }

div#page-body ul { 
        list-style:
        url("/home/centos/artwork/trunk/Identity/Models/Img/Promo/Web/png/ul.png") circle; 
        } 

div#page-body ol {
        list-style-image: none !important;
        }

div#page-body ul li,
div#page-body ol li {
        padding-left: 0;
        margin-bottom: 0.3em;
        }

div#page-body ul ul,
div#page-body ul ol,
div#page-body ol ul,
div#page-body ol ol {
        margin-left: 0.5em;
        margin-top: 0.3em;
        }

div#page-body ul li p,
div#page-body ol li p {
        margin-bottom: 0.3em;
        line-height: 1.5em;
        margin-left: 0 !important;
        }

/* */

div#page-location {
	margin: 1em 1em 0 1.5em;
	}

div#page-location span:after {
	content: " » ";
	}

div#page-location span.last:after {
	content: none;
	}

/* */

div#page-body dl {
	margin: 1em 1em 0.3em 3em;
	padding: 1em 1em 1em 0;
	}

div#page-body dl dt {
	font-weight: bold;
	}

div#page-body dl dt:after {
	content: ": "
	}

div#page-body dl dd {
	margin-left: 2em;
	margin-bottom: 1em;
	line-height: 1.5em;
	}

div#page-body dl dd ul,
div#page-body dl dd ol {
	margin: 0;
	padding-bottom: 0;
	}

/**/

div#page-header div.links div.user span,
div#page-header div.links div.trail span {
	display: inline;
	}

div#page-header div.links div.user span.last {
	border-right: none;
	padding-right: 0;
	}

div#page-header div.links div.user span.last a {
	margin-right: 0;
	}

div#page-header div.links div.trail span:after {
	content: " » ";
	}

div#page-header div.links div.trail span.last:after {
	content: none;
	}

div#page-header div.links div.user span {
	border-right: 1px dotted #FFF;
	}

div#page-header div.admin span,
div#page-footer div.admin span {
	border-right: 1px dotted #628ECA;
	display: inline;
	}

div#page-header div.admin span.last,
div#page-footer div.admin span.last {
	border-right: none;
	padding-right: 0;
	}

/* Tables 
-----------------------------------------------*/

div#page-body table {
        margin: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
	margin-left: 1.5em;
        border-collapse: collapse;
        }

div#page-body table caption {
	font-style: italic;
	text-align: center;
	}

div#page-body table tr th {
	font-weight: bold;
	}

div#page-body table tr td,
div#page-body table tr th {
        border: 1pt;
        border-style: solid;
        border-color: #CCC;
        padding-top: 0.25em;
        padding-right: 0.5em;
        padding-bottom: 0.25em;
        padding-left: 0.5em;
        }

div#page-body table tr td p {
        margin: 0;
        padding: 0;
        }

/* Forms 
-----------------------------------------------*/

form {
	display: inline;
	}

input[type="submit"], 
input[type="button"] {
        padding: 1px;
	}

div#page-header div.search p {
	text-align: right;
	}

div#page-header div.admin input[type="submit"],
div#page-header div.admin input[type="button"],
div#page-header div.search input[type="button"],
div#page-header div.search input[type="submit"] {
        font-size: 0.8em;
        border-width: 1px;
        border-style: solid;
        border-color: #628ECA;
        background-color: #204a87;
        color: #FFF;
        cursor: pointer;
        display: inline;
        text-decoration: none;
	}

div#page-header div.search input[type="text"],
div#page-header div.search textarea {
        font-size: 0.8em;
        display: inline;
        padding: 2px;
        padding-left: 4px;
        border: 1px solid #628ECA;
        background-color: #EFF5FE;
        color: #204a87;
	}

div#page-header div.admin select {
        font-size: 0.8em;
        display: inline;
        padding: 1px;
        border: 1px solid #628ECA;
        background-color: #FFF;
        color: #204a87;
	}

div#page-header div.search select {
        font-size: 0.8em;
        display: inline;
        padding: 1px;
        border: 1px solid #628ECA;
        background-color: #EFF5FE;
        color: #204a87;
	}

div#page-header div.search {
	margin: 5px;
	margin-right: 10px;
	margin-top: 10px;
	}

div#page-header div.admin form p {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	}

div#page-body textarea {
	padding: 2px;
	}

div#page-body input[type="text"] {
	padding: 1px;
	}

/* Select
---------------------------------------- */

div#page-header div.links select option,
div#page-body select option {
	padding-left: 3px;
	padding-right: 3px;
	}

div#page-header div.links select optgroup,
div#page-body select optgroup {
	font-style: normal;
	font-weight: bold;
	padding-left: 3px;
	}

div#page-header div.links select optgroup option,
div#page-body select optgroup option {
	margin-left: 1em;	
	}

div#page-body input[type="radio"],
div#page-body input[type="checkbox"] {
	vertical-align: middle;
	}

div#page-body fieldset {
	margin: 1em;
	padding: 1em;
	padding-bottom: 5px;
	margin-left: 1.5em;
	border: 1px solid #AAA;
	}

div#page-body fieldset legend {
	font-weight: bold;
	color: #AAA;
	}

div#page-body div.row1 {
	clear: both;
	background: #F8F8F8;
	padding: 10px;
	}

div#page-body div.row2 {
	clear: both;
	background: #FFFFFF;
	padding: 10px;
	}

div#page-body div.row3 {
	clear: both;
	border-top: 1px solid #CCC;
	padding: 10px;
	margin-top: 10px;
	}

div#page-body fieldset div.row1 span.descrip,
div#page-body fieldset div.row2 span.descrip {
	float: left;
	}

div#page-body fieldset div.field {
	display: block;
	margin-left: 30%;
	}

div#page-body fieldset div.field div.column {
	float: left;
	margin-right: 1em;
	padding-right: 1em;
	border-right: 1px dotted #AAA;
	}

div#page-body fieldset div.row3 div.descrip {
	display: block;
	font-size: small;
	color: #AAA;
	font-style: italic;
	width: 70%
	}

div#page-body fieldset span.submit {
	float: right;
	}

/* */

div#page-body div.actions p {
	display: inline;
	margin: 0;
	padding: 0 10px;
	border-right: 1px dotted #AAA;
	font-size: small;
	color: #AAA;
	}

div#page-body div.actions p.last {
	border-right: none;
	}
