# TreeFlower

[KSplash Theme: TreeFlower]
Name = TreeFlower KDE Splash Screen
Description = TreeFlower KDE Splash Screen
Version = 3
Author = The CentOS Project

# Theme behaviour settings.
Engine = Default

# Should icons blink ala KDE, or not?
Icons Flashing = true

# Show progress bar?
Always Show Progress = false

# Status text colour
Label Foreground = #FFFFFF
