@import url(code.css);

/* Ticket */

#newticket #description { 
    width: 80%;
	}

#newticket #properties { 
	}

#newticket #summary { 
    width: 80%;
}

#ticket {
    border: 1px solid #DADADA;
	}

#ticket p {
    margin-right: 20px;
    }

h1 .status { 
	color: #fff; 
	text-transform: lowercase; 
	}
	
#ticket h2.summary { 
    margin-top: 0;
	}

#ticket .date { 
	color: #333; 
	float: right; 
	font-size: x-small; 
    padding: 2px;
    padding-right: 10px;
    text-align: right;
	}

#ticket .date p { 
	margin: 0; 
	}

#ticket table.properties {
    border: none;
    margin-left: 20px;
	}

#ticket table.properties tr { 
	border-bottom: 1px dotted #eed; 
	}

#ticket table.properties td, 
#ticket table.properties th {
	vertical-align: top;
	}

#ticket table.properties th {
	text-align: right;
	width: 150px;
    border: none;
    vertical-align: top;
    padding: 0.3em;
	}

#ticket table.properties td { 
	width: 30%; 
    border: none;
    vertical-align: top;
    padding: 0.3em;
	}

#ticket table.properties .description { 
	border-top: 1px solid #dd9; 
	}

#ticket .description h3 {
	}

#ticket .description p {
    margin-left: 20px;
    }

#ticket .description h3 .lastmod {
	font-size: 90%;
	}

#ticket .inlinebuttons { 
	float: right;
	position: relative;
	bottom: 0.3em;
	}

#changelog { 
	}

#changelog h3 {
	}

#changelog .threading, 
#changelog .inlinebuttons {
	float: right;
	position: relative;
	bottom: 0.3em;
    font-size: x-small;
	}

#changelog .changes { 
	}

#changelog .comment { 
	margin-left: 20px;
	}

form .field { 
    margin-top: 0;
	}

form #comment { 
	}

#properties { 
    margin-left: 20px;
	}

#properties table { 
	border-spacing: 0; 
	width: 100%; 
	}

#properties table th {
	padding: .4em;
	text-align: right;
	vertical-align: top;
    border:none;
    width: 1%;
	}

#properties table th.col2 {
	border-left: 1px dotted #d7d7d7; 
	}

#properties table td { 
	vertical-align: middle; 
	width: 30%; 
    border:none;
	}

#properties table td.fullrow {
	vertical-align: middle; 
	width: 99%; 
	}

#properties table td.fullrow textarea#description,
#properties table td.fullrow input#reporter,
#properties table td.fullrow input#summary {
    width: 98%;
    }

#properties table td input#keywords,
#properties table td input#owner,
#properties table td input#cc {
	width: 95%; 
    }

#action {
    margin-left: 20px;
	}

fieldset.radio { 
	border: none; 
	margin: 0; padding: 0; 
	}

fieldset.radio legend {
	color: #000;
	float: left;
	font-size: 100%;
	font-weight: normal;
	padding: 0 1em 0 0;
	}

fieldset.radio label { 
	padding-right: 1em; 
	}
