<p>Esta página contiene un sumario de las solicitudes administrativas que
requieren de su aprobación para la <a href="%(adminurl)s">lista de
distribución</a> <em>%(listname)s</em>.</p>

<p>Lo primero que encontrará serán las solicitudes de alta y baja en la lista
(si las hubiera), seguida por cualquier envío a la lista pendiente de su
aprobación.</p>

<p>Seleccione la acción a tomar para cada una de las solicitudes
administrativas y pulse en el botón <strong>Enviar todos los datos</strong>
cuando haya terminado.  Hay disponibles <a href="%(detailsurl)s">instrucciones
más detalladas</a>.</p>

<p>Igualmente, también puede <a href="%(viewallurl)s">ver los detalles</a> de
todos los envíos retenidos.</p>
