    </ul>

    <p>
       <a id="end" name="end"><strong>Fecha del &uacute;ltimo mensaje:</strong></a> <em>%(lastdate)s</em>
       <br />
       <strong>Archivado en:</strong> <em>%(archivedate)s</em>
    </p>

    <ul>
         <li> <strong>Mensages ordenados por:</strong>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	 </li>
	 <li><strong><a href="%(listinfo)s">Mas infomaci&oacute;n sobre esta lista...</a></strong></li>
     </ul>
     <p>Archivo generado por Pipermail %(version)s.</p>
</div>

<div id="footer"> 
        <p class="sysinfo"><a href="http://www.centos.org/"><strong>The CentOS Project</strong></a></p>
        <p class="sysinfo floatr">Powered by <a href="http://www.gnu.org/software/mailman/index.html"><strong>Mailman</strong></a></p>
        <p class="sysinfo">Community Enterprise Operating System</p>
</div>

</body>
</html>
