@import url(code.css);

/* Ticket */

#content { 
	width: 700px; 
	max-width: 100%; 
	}

#newticket #description { 
	width: 100%; 
	}
#newticket #properties { 
	width: 100%; 
	}

#ticket {
	background: #ffd;
	border: 1px solid #ccc;
	margin-top: 1em;
	padding: .5em 1em;
	position: relative;
	}

h1 .status { 
	color: #fff; 
	text-transform: lowercase; 
	}
	
#ticket h2.summary { 
	margin: 0 0 .8em 0; 
	background: transparent;
	}

#ticket .date { 
	color: #996; 
	float: right; 
	font-size: 85%; 
	position: relative; 
	}

#ticket .date p { 
	margin: 0; 
	}

#ticket table.properties {
	border-top: 1px solid #dd9;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	}

#ticket table.properties tr { 
	border-bottom: 1px dotted #eed; 
	}

#ticket table.properties td, 
#ticket table.properties th {
	font-size: 80%;
	padding: .5em 1em;
	vertical-align: top;
	}

#ticket table.properties th {
	color: #663;
	font-weight: normal;
	text-align: left;
	width: 20%;
	}

#ticket table.properties td { 
	width: 30%; 
	}

#ticket table.properties .description { 
	border-top: 1px solid #dd9; 
	}

#ticket .description h3 {
	border-bottom: 1px solid #dd9;
	color: #663;
	font-size: 100%;
	font-weight: normal;
	}

#ticket .description h3 .lastmod {
	font-size: 90%;
	}

#ticket .inlinebuttons { 
	float: right;
	position: relative;
	bottom: 0.3em;
	}

#changelog { 
	border: 1px solid #ddd; 
	padding-left: 1em; 
	padding-right: 1em; 
	padding-bottom: 1em; 
	}

#changelog h3 {
 	border-bottom: 1px solid #ddd;
	color: #999;
	font-size: x-small;
	font-weight: normal;
	font-family: "DejaVu Sans Mono","Liberation Mono",monospace;
	}

#changelog .threading, 
#changelog .inlinebuttons {
	float: right;
	position: relative;
	bottom: 0.3em;
	}

#changelog .changes { 
	list-style: square; 
	margin-left: 2em; 
	padding: 0 
	font-size: small;
	}

#changelog .comment { 
	margin-left: 2em;
	font-family: "DejaVu Sans Mono","Liberation Mono",monospace;
	font-size: small;
	}

form .field { 
	margin-top: .75em; 
	width: 100% 
	}

form #comment { 
	width: 100% 
	}

#properties { 
	white-space: nowrap; 
	line-height: 160%; 
	padding: .5em 
	}

#properties table { 
	border-spacing: 0; 
	width: 100%; 
	}

#properties table th {
	padding: .4em;
	text-align: right;
	width: 20%;
	vertical-align: top;
	}

#properties table th.col2 {
	border-left: 1px dotted #d7d7d7; 
	}

#properties table td { 
	vertical-align: middle; 
	width: 30%; 
	}

#properties table td.fullrow {
	vertical-align: middle; 
	width: 80%; 
	}

#action {
	line-height: 2em; 
	}

fieldset.radio { 
	border: none; 
	margin: 0; padding: 0; 
	}

fieldset.radio legend {
	color: #000;
	float: left;
	font-size: 100%;
	font-weight: normal;
	padding: 0 1em 0 0;
	}

fieldset.radio label { 
	padding-right: 1em; 
	}
