/* Titres */
#puntal_content .feedTitle {
	margin-bottom: 0;
}

/* Infos */
#puntal_content .feedInfos {
	margin-top: 0;
	font-size: 0.9em;
}

/* Liens */
#puntal_content .feedLinks {
	font-size: 0.9em;
	list-style-type: none;
	padding-left: 0;
	text-align: right;
}
#puntal_content .feedLinks li {
	display: inline;
	margin-right: 1em;
}
#puntal_content .feedLinks li a {
	padding: 0.2em 0 0.2em 18px;
}


