# =THEME=

[KSplash Theme: =THEME=]
Name = =THEME= KDE Splash Screen
Description = =THEME= KDE Splash Screen
Version = 1.0
Author = The CentOS Project

# Theme behaviour settings.
Engine = Default

# Should icons blink ala KDE, or not?
Icons Flashing = true

# Show progress bar?
Always Show Progress = false

# Status text colour
Label Foreground = #FFFFFF
